
  <tr id="input-group">

    <th scope="row" id="product-num" class='text-center'></th>

    <td><input size="2em" class="form-control text-center" type="text" value=" " charge_type="invoice[invoice_lines_attributes][0][charge_type]" id="invoice_invoice_lines_attributes_0_charge_type"></td>

    <td><input size="2em" class="form-control text-center" type="text" value=" " item_no="invoice[invoice_lines_attributes][0][item_no]" id="invoice_invoice_lines_attributes_0_item_no"></td>

<td><input size="6em" class="label-control text-center" type="text" value=" " description="invoice[invoice_lines_attributes][0][description]" id="invoice_invoice_lines_attributes_0_description"></td>


<td><input size="2em" class="form-control text-center" type="text" value=" " quantity="invoice[invoice_lines_attributes][0][quantity]" id="invoice_invoice_lines_attributes_0_quantity"></td>


<td><input size="2em" class="form-control text-center" type="text" value=" " unit_price="invoice[invoice_lines_attributes][0][unit_price]" id="invoice_invoice_lines_attributes_0_unit_price"></td>

<td><input size="2em" class="form-control text-center" type="text" value=" " amount="invoice[invoice_lines_attributes][0][amount]" id="invoice_invoice_lines_attributes_0_amount"></td>




    <td><a class="btn btn-danger float-right remove-field" id='delete-row' href="">Delete</a></td>

  </tr>



