
$("#table-body").append(`
  <tr id="input-group">
    <th scope="row" id="product-num"></th>
    

   
    <td><input size="1em" class="form-control text-center" type="text" value="1" name="kehead[kelines_attributes][0][name]" id="kehead_kelines_attributes_0_name"></td>
    
    
   <td><input size="1em" class="form-control text-center" type="text" value="1" name="kehead[kelines_attributes][0][quantity]" id="kehead_kelines_attributes_0_quantity"></td>


  <td><input size="1em" class="form-control text-center" type="text" value="1" name="kehead[kelines_attributes][0][amount]" id="kehead_kelines_attributes_0_amount"></td>

    <td><a class="btn btn-danger float-right remove-field" id="delete-row">Delete</a></td>



  </tr>
`)
